<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              inter: ["Inter"],
            },
          },
        },
      };
    </script>
    <title>Daftar</title>
  </head>
  <body class="bg-slate-50 h-full font-inter">
    <div class="container bg-white p-8 text-left rounded-xl max-w-5xl space-y-8 shadow-sm mx-auto my-8">
      <div class="flex gap-2 content-center justify-between">
        <div class="space-y-1">
          <p class="text-sm tracking-widest text-slate-400 font-normal" id="acc_ktp_num"><%= user.acc_ktp_num %></p>
          <p class="text-2xl text-slate-700 font-bold" id="acc_name"><%= user.acc_name %></p>
          <p class="text-base text-emerald-500 font-semibold" id="acc_email"><%= user.acc_email %></p>
        </div>
        <a href="/home">
          <button class="block my-auto outline outline-1 outline-slate-300 h-8 w-8 rounded-lg p-1 hover:bg-slate-50 focus:ring focus:ring-emerald-500">
            <?xml version="1.0"?><svg class="fill-slate-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g data-name="Layer 2">
                <g data-name="home">
                  <rect width="24" height="24" opacity="0"></rect>
                  <path d="M20.42 10.18L12.71 2.3a1 1 0 0 0-1.42 0l-7.71 7.89A2 2 0 0 0 3 11.62V20a2 2 0 0 0 1.89 2h14.22A2 2 0 0 0 21 20v-8.38a2.07 2.07 0 0 0-.58-1.44zM10 20v-6h4v6zm9 0h-3v-7a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v7H5v-8.42l7-7.15 7 7.19z"></path>
                </g>
              </g>
            </svg>
          </button>
        </a>
      </div>

      <div class="grid grid-cols-2 gap-5">
        <div class="outline outline-1 outline-slate-200 p-4 flex flex-col gap-5 rounded-lg">
          <div class="flex justify-between content-center">
            <div>
              <p class="text-slate-400 text-sm">No. Telepon</p>
              <p class="text-base text-slate-700 font-semibold" id="acc_phone_num"><%= user.acc_phone_num %></p>
            </div>
            <a href="/home" class="block my-auto">
              <button class="block my-auto outline outline-1 outline-slate-300 px-3 font-semibold text-slate-600 text-sm rounded-lg p-1 hover:bg-slate-50 focus:ring focus:ring-emerald-500">Ubah Data Diri</button>
            </a>
          </div>

          <div>
            <p class="text-slate-400 text-sm">Alamat Lengkap</p>
            <p class="text-base text-slate-700 font-semibold" id="acc_address"><%= user.acc_address %></p>
          </div>

          <div>
            <p class="text-slate-400 text-sm">Nama Ibu Kandung</p>
            <p class="text-base text-slate-700 font-semibold" id="acc_biological_mother_name"><%= user.acc_biological_mother_name %></p>
          </div>

          <div>
            <p class="text-slate-400 text-sm">Pekerjaan</p>
            <p class="text-base text-slate-700 font-semibold" id="acc_job"><%= user.acc_job %></p>
          </div>

          <div>
            <p class="text-slate-400 text-sm">Gaji</p>
            <p class="text-base text-slate-700 font-semibold" id="acc_salary"><%= user.acc_salary %></p>
          </div>
        </div>

        <div class="outline outline-1 outline-slate-200 p-4 flex flex-col gap-5 rounded-lg">
          <div class="flex justify-between content-center">
            <div>
              <p class="text-slate-400 text-sm">Bank</p>
              <p class="text-base text-slate-700 font-semibold" id="acc_bank"><%= user.acc_bank %></p>
            </div>
            <a href="/home" class="block my-auto">
              <button class="block my-auto outline outline-1 outline-slate-300 px-3 font-semibold text-slate-600 text-sm rounded-lg p-1 hover:bg-slate-50 focus:ring focus:ring-emerald-500">Ubah Bank</button>
            </a>
          </div>

          <div>
            <p class="text-slate-400 text-sm">Nomor Rekening</p>
            <p class="text-base text-slate-700 font-semibold" id="acc_bank_num"><%= user.acc_bank_num %></p>
          </div>

          <hr />

          <div class="flex justify-between content-center">
            <div>
              <p class="text-slate-400 text-sm">No. Kontak Darurat</p>
              <p class="text-base text-slate-700 font-semibold" id="acc_emergency_phone_num"><%= user.acc_emergency_phone_num %></p>
            </div>
            <a href="/home" class="block my-auto">
              <button class="block my-auto outline outline-1 outline-slate-300 px-3 font-semibold text-slate-600 text-sm rounded-lg p-1 hover:bg-slate-50 focus:ring focus:ring-emerald-500">Ubah Kontak Darurat</button>
            </a>
          </div>

          <div>
            <p class="text-slate-400 text-sm">Hubungan Kontak Darurat</p>
            <p class="text-base text-slate-700 font-semibold" id="acc_emergency_contact_relationship"><%= user.acc_emergency_contact_relationship %></p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4">
        <div class="space-y-2">
          <p class="font-semibold text-sm">NPWP</p>
          <div class="rounded-lg aspect-[3/2] bg-cover" style="background-image: url(https://source.unsplash.com/featured/600x300)"></div>
        </div>
        <div class="space-y-2">
          <p class="font-semibold text-sm">KTP</p>
          <div class="rounded-lg aspect-[3/2] bg-cover" style="background-image: url(https://source.unsplash.com/featured/600x300)"></div>
        </div>
        <div class="space-y-2">
          <p class="font-semibold text-sm">Selfie</p>
          <div class="rounded-lg aspect-[3/2] bg-cover" style="background-image: url(https://source.unsplash.com/featured/600x300)"></div>
        </div>
      </div>
    </div>
  </body>
</html>
