<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              inter: ["Inter"],
            },
          },
        },
      };
    </script>
    <% const locale = "id-ID"; const dateOptions = { year: "numeric", month: "long", day: "numeric", }; const formatter = new Intl.NumberFormat(locale, { style: "currency", currency: "IDR", }); %>
    <title>Aplikasi Pinjol Terpercaya</title>
  </head>
  <body class="bg-slate-50 h-full font-inter">
    <div class="container bg-white p-8 text-left rounded-xl max-w-6xl space-y-8 shadow-sm mx-auto my-8">
      <div class="flex gap-2 content-center justify-between">
        <h1 class="font-bold text-slate-900 text-2xl" id="acc_name">Halo, <%= user.acc_name %></h1>
        <div class="grid grid-cols-1 gap-2">
          <button onclick="window.location.href='/account'" class="block my-auto outline outline-1 outline-slate-300 h-8 w-8 rounded-lg p-1 hover:bg-slate-50 focus:ring focus:ring-emerald-500">
            <?xml version="1.0"?><svg class="fill-slate-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g data-name="Layer 2">
                <g data-name="person">
                  <rect width="24" height="24" opacity="0"></rect>
                  <path d="M12 11a4 4 0 1 0-4-4 4 4 0 0 0 4 4zm0-6a2 2 0 1 1-2 2 2 2 0 0 1 2-2z"></path>
                  <path d="M12 13a7 7 0 0 0-7 7 1 1 0 0 0 2 0 5 5 0 0 1 10 0 1 1 0 0 0 2 0 7 7 0 0 0-7-7z"></path>
                </g>
              </g>
            </svg>
          </button>
          <!-- <button onclick="window.location.href='/logout'" class="block my-auto outline outline-1 outline-slate-300 h-8 w-8 rounded-lg p-1 hover:bg-red-50 hover:outline-red-400 focus:ring focus:ring-red-500">
            <?xml version="1.0"?>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-red-400">
              <g data-name="Layer 2">
                <g data-name="log-out">
                  <rect width="24" height="24" transform="rotate(90 12 12)" opacity="0"></rect>
                  <path d="M7 6a1 1 0 0 0 0-2H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h2a1 1 0 0 0 0-2H6V6z"></path>
                  <path d="M20.82 11.42l-2.82-4a1 1 0 0 0-1.39-.24 1 1 0 0 0-.24 1.4L18.09 11H10a1 1 0 0 0 0 2h8l-1.8 2.4a1 1 0 0 0 .2 1.4 1 1 0 0 0 .6.2 1 1 0 0 0 .8-.4l3-4a1 1 0 0 0 .02-1.18z"></path>
                </g>
              </g>
            </svg>
          </button> -->
        </div>
      </div>

      <div class="outline outline-1 outline-slate-200 p-4 w-full rounded-md space-y-1">
        <div class="flex justify-between">
          <div>
            <!-- <p class="text-sm text-slate-400"><%= user.acc_ktp_num %></p> -->
            <p class="text-sm text-slate-400 mb-1">Sisa Limit Peminjaman</p>
            <div class="flex gap-2">
              <?xml  version="1.0"?><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20" class="fill-emerald-500"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 4C2.89543 4 2 4.89543 2 6V10C2 11.1046 2.89543 12 4 12V6H14C14 4.89543 13.1046 4 12 4H4ZM6 10C6 8.89543 6.89543 8 8 8H16C17.1046 8 18 8.89543 18 10V14C18 15.1046 17.1046 16 16 16H8C6.89543 16 6 15.1046 6 14V10ZM12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14Z"></path></svg>
              <h2 class="text-2xl font-bold text-emerald-500" id="acc_balance"><%= formatter.format(user.acc_balance) %></h2>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-3">
            <button onclick="window.location.href='/transaction'" class="font-inter outline outline-1 outline-slate-300 text-slate-700 font-medium w-auto py-2 px-8 rounded-md hover:bg-slate-50 focus:ring focus:ring-emerald-500">Riwayat</button>
            <button onclick="window.location.href='/loan'" class="bg-emerald-500 text-white font-medium w-auto py-2 px-8 rounded-md hover:bg-emerald-600">Ajukan Peminjaman</button>
          </div>
        </div>
      </div>

      <div class="space-y-4 li_container">
        <h2 class="font-semibold text-sm">Tagihan Anda</h2>
        <div class="bg-slate-50 grid grid-cols-5 gap-5 justify-between text-align-start py-4 rounded-lg">
          <div class="">
            <p class="text-sm text-slate-500 li_id pl-4">Nominal Tagihan</p>
          </div>
          <div class="m-auto">
            <p class="text-sm text-slate-500 li_id">Tagihan ke</p>
          </div>
          <div class="">
            <p class="text-sm text-slate-500">Tenggat Pembayaran</p>
          </div>
          <div class="m-auto">
            <p class="text-sm text-slate-500">Status</p>
          </div>
          <div class="m-auto px-4">
            <p class="text-sm text-slate-500"></p>
          </div>
        </div>
        <% const paidInvoices = invoices.filter((invoice) => invoice.li_status === true); const billedInvoices = invoices.filter((invoice) => invoice.li_status === false); const allInvoice = billedInvoices.concat(paidInvoices); %> <% allInvoice.forEach(invoice => { %> <% const due_date = new Date(invoice.li_due_date).toLocaleDateString( locale, dateOptions ); const payment_date = new Date(invoice.li_payment_date).toLocaleDateString( locale, dateOptions ); const base_payment = formatter.format(invoice.li_base_payment); const penalty = formatter.format(invoice.li_penalty); const total_payment =
        formatter.format(invoice.li_total_payment); %>
        <div class="grid grid-cols-5 gap-5 justify-between text-align-start">
          <div class="pl-4">
            <p class="text-xs text-slate-400 li_id"><%= invoice.li_id %></p>
            <h2 class="text-md font-semibold text-slate-700 li_total_payment"><%= total_payment %></h2>
          </div>
          <div class="m-auto">
            <h2 class="text-sm font-medium text-slate-700"><%= `${invoice.li_no}/${invoice.t_lt_period}` %></h2>
          </div>
          <div class="my-auto">
            <h2 class="text-sm font-medium text-slate-700 li_due_date"><%= due_date %></h2>
          </div>
          <div class="flex gap-2 m-auto">
            <% if (invoice.li_penalty > 0) { %>
              <h2 class="text-xs font-semibold py-2 px-4 w-auto rounded-full text-center text-rose-400 bg-rose-50">Telat</h2>
            <% } %>
            <% if (!invoice.li_status) { %>
            <h2 class="text-xs font-semibold py-2 px-4 w-auto rounded-full text-center text-orange-400 bg-orange-50">Belum dibayar</h2>
            <% } else { %>
            <h2 class="text-xs font-semibold py-2 px-4 w-auto rounded-full text-center text-green-600 bg-green-50">Sudah dibayar</h2>
            <% } %>
          </div>
          <div class="flex gap-4 my-auto justify-end pr-4">
            <% if (invoice.li_status) { %>
            <button data-li_id="<%= invoice.li_id %>" class="text-sm font-inter font-medium w-auto py-2 px-8 rounded-md outline outline-1 outline-slate-300 text-slate-500 disabled:opacity-50" disabled>Bayar</button>
            <% } else { %>
            <button data-li_id="<%= invoice.li_id %>" onclick="window.location.href='/invoice?id=<%= invoice.li_id %>'" class="text-sm font-inter font-medium w-auto py-2 px-8 rounded-md outline outline-1 outline-slate-300 text-slate-700 hover:bg-slate-50 focus:ring focus:ring-emerald-500">Bayar</button>
            <% } %>

            <button data-modal-target="<%= `modal-${invoice.li_id}` %>" data-modal-toggle="<%= `modal-${invoice.li_id}` %>" class="h-10 w-10 rounded-lg p-1 hover:bg-slate-50 focus:ring focus:ring-emerald-500">
              <?xml version="1.0"?><svg class="fill-slate-400 p-1 hover:fill-slate-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g data-name="Layer 2">
                  <g data-name="info">
                    <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect>
                    <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"></path>
                    <circle cx="12" cy="8" r="1"></circle>
                    <path d="M12 10a1 1 0 0 0-1 1v5a1 1 0 0 0 2 0v-5a1 1 0 0 0-1-1z"></path>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <hr />
        <div id="<%= `modal-${invoice.li_id}` %>" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 w-full p-4 hidden overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
          <div class="relative w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
              <div class="flex items-center justify-between p-6 rounded-t">
                <h3 class="text-base font-medium text-slate-800"><%= invoice.li_id %></h3>
                <button type="button" class="text-slate-500 bg-transparent hover:bg-slate-50 hover:text-slate-800 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="<%= `modal-${invoice.li_id}` %>">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <!-- Modal body -->
              <div class="mx-6 mb-2">
                <p class="text-base font-medium text-emerald-500 mb-2"><%= `Cicilan ke ${invoice.li_no}/${invoice.t_lt_period}` %></p>
                <div class="grid grid-rows-2 gap-4 justify-start mb-6">
                  <p class="text-3xl font-bold text-slate-800"><%= total_payment %></p>
                  <p class="text-sm font-semibold py-2 px-6 w-auto rounded-full text-center text-orange-400 bg-orange-50"><%= `Bayar sebelum ${due_date}` %></p>
                </div>
                <div class="grid grid-rows-5 gap-3 bg-slate-50 p-4 rounded-md mb-6">
                  <p class="font-semibold text-slate-700">Rincian Tagihan</p>
                  <div class="flex justify-between">
                    <p class="text-sm text-slate-400 font-normal">Cicilan per Bulan</p>
                    <p class="text-sm text-slate-800 font-medium"><%= base_payment %></p>
                  </div>
                  <div class="flex justify-between">
                    <p class="text-sm text-slate-400 font-normal">Penalti</p>
                    <p class="text-sm text-slate-800 font-medium"><%= penalty %></p>
                  </div>
                  <hr class="my-auto h-0.5 bg-slate-200" />
                  <div class="flex justify-between">
                    <p class="text-slate-400 font-normal">Total</p>
                    <p class="text-md text-slate-800 font-semibold"><%= total_payment %></p>
                  </div>
                </div>
                <p class="text-xs text-slate-400">Lakukan pembayaran sebelum tenggat yang sudah ditetapkan, agar Anda tidak terkena denda</p>
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 rounded-b">
                <button onclick="window.location.href='/invoice?id=<%= invoice.li_id %>'" class="font-inter font-medium w-full py-2 px-8 rounded-md bg-emerald-500 text-white hover:bg-emerald-600">Bayar</button>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
